footer{
    padding: 45px 0px;
    @media(max-width:$breakpoint-phone-max) {
                padding:25px 0;
            }
    .container{
        &>.left{
            width: 85%;
            float: left;
            margin-right: 5%;
            font-size: 14px;
            line-height: 2;
            @media(max-width:$breakpoint-phone-max) {
                float: none;
                width: 100%;
                margin-right: 0;
            }
            .subscibe{
                margin-bottom: 25px;
                input{
                    width: 82%;
                    height: 40px;
                    border:1px solid #fff;
                    border-bottom: 1px solid #e2e2e2;
                    @media(max-width:$breakpoint-phone-max) {
                        width: 75%;
                    }
                }
                input::-webkit-input-placeholder{
                    color:#c6c6c6;
                }
                button{
                    width: 17%;
                    height: 40px;
                    background: #F6F6F6;
                    border: 1px solid #E2E2E2;
                    color:#c6c6c6;
                    @media(max-width:$breakpoint-phone-max) {
                        width: 23%;
                    }
                }
            }
            .copyright{
                overflow:hidden;
                &>.left{
                    float: left;
                    color:#c6c6c6;
                    @media(max-width:$breakpoint-phone-max) {
                        font-size: 10px;
                        text-align: left;
                        width: 100%;
                    }
                }
                &>.right{
                    float: right;
                    b{
                        margin:0px 15px;
                        color:#FF520E;
                    }
                    @media(max-width:$breakpoint-phone-max) {
                        font-size: 12px;
                        text-align: left;
                        width: 100%;
                    }
                    span{
                        @media(max-width:$breakpoint-phone-max) {
                            display:block;
                        }
                    }
                }
            }
        }
        &>.right{
            width:10%;
            float: right;
            text-align: right;
            img{
                width: 100%;
                max-width:90px;
            }
            @media(max-width:$breakpoint-phone-max) {
                float: none;
                width: 100%;
                text-align: center;
                padding-top: 20px;
            }
        }
    }
}
.right{
    i{
        font-style:normal;
        text-decoration: underline;
    }
}
    
.mobile-informations{
    
}
.mobile-barcode{
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    top:0;
    background-color:rgba(0,0,0,.8);
    z-index:-10;
    opacity:0;
    transition: all 1s;
    &.open{
       z-index:9999; 
        opacity:1;
    }
    .barcode{
            position: absolute;
            left: 15%;
            right: 15%;
            top: 50%;
            transform: translateY(-50%);
            img{
                width:100%;
            }
    }
}
