header{
    position: absolute;
    top:0;
    z-index:99;
    width: 100%;
    padding:20px;
    color:#fff;
    font-size: 13px;
    .logo{
        float: left;
        width: 80px;
        @media(max-width:$breakpoint-xs-max) {
             width: 40px;
        }
        img{
            width: 100%;
        }
    }
    nav{
        float: right;
         @media(max-width:$breakpoint-xs-max) {
             position:absolute;
             top:0;
             left:0;
             right:0;
             background-color:#fff;
        }
        ul{
            li{
                float: left;
                margin: 0 10px;
                opacity: 0.6;
                transition: opacity 0.2s;
                @media(max-width:$breakpoint-xs-max) {
                    float:none;
                    color:#333;
                    opacity: 1;
                    line-height:40px;
                    border-bottom:1px solid #999;
                }
                &:hover{
                    opacity:1;
                    
                    
                }
            }

        }
    }
    .language{
        float: right;
        margin-left: 40px;
        button{
            background:none;
            border:0;
            img{
                width:14px;
                margin-left: 5px;
            }
        }
        ul.dropdown-menu{
            background: none;
            border: 0;
            text-align: right;
            width: 50px;
            min-width: 20px;
            left: -18px;
            padding:0;
        }
    }
}