header{
    position: absolute;
    top:0;
    z-index:999;
    width: 100%;
    padding: 20px 40px;
    color:#fff;
    font-size: 13px;
    .logo{
        float: left;
        width: 80px;
        @media(max-width:$breakpoint-xs-max) {
             width: 40px;
        }
        img{
            width: 100%;
        }
    }
    .language-mobile{
        height:35px;
        line-height:35px;
        float:left;
        a{
            color:#fff;
            display:block;
            float:left;
            padding: 0 8px;
            border:1px solid rgba(255,255,255,0.75);
            opacity: 0.7;
            font-size:12px;
            &.active{
                opacity:1;
                border:1px solid rgba(255,255,255,1);
            }
            &:first-child{
                margin-left:10px;
                border-right:none;
                &.active{
                    border-right:1px solid;
                }
            }
        }
    }
    .mobile-nav-more{
        float: right;
        margin-top:5px;
        span{
            display: block;
            width: 25px;
            height: 2px;
            margin: 3px;
            background-color:#fff;
            transition: transform 0.6s ease-in-out;
        }
        &.open{
            span{
                &:nth-child(1){
                    transform: rotate(45deg) scaleX(1.2) translate(6px, 5px);
                }
                &:nth-child(2){
                    transform: scale(0);
                }
                &:nth-child(3){
                    transform: rotate(-45deg) scaleX(1.2) translate(2px, 0px);
                }
            }
        }
    }
    nav{
        float: right;
         @media(max-width:$breakpoint-xs-max) {
             position:absolute;
             top:0;
             left:0;
             right:0;
             background-color:#fff;
        }
        ul{
            li{
                float: left;
                margin: 0 10px;
                opacity: 0.6;
                transition: opacity 0.2s;
                a{
                    color:#fff;
                    &:hover{
                        text-decoration: none;
                        color:#fff;
                    }
                }
                @media(max-width:$breakpoint-xs-max) {
                    float:none;
                    color:#333;
                    opacity: 1;
                    line-height:40px;
                    border-bottom:1px solid #999;
                }
                &:hover{
                    opacity:1;
                }
            }

        }
    }
    .language{
        float: right;
        margin-left: 40px;
        button{
            background:none;
            border:0;
            padding: 0;
            img{
                width:14px;
                margin-left: 5px;
            }
        }
        ul.dropdown-menu{
            background: none;
            border: 0;
            text-align: right;
            width: 50px;
            min-width: 20px;
            left: -18px;
            padding:0;
        }
    }
}
.mobile-nav-information{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    height:100vh;
    text-align:right;
    z-index:98;
    background: -webkit-linear-gradient(left bottom, #ff6f21 , #ff9b21);
    background: linear-gradient(left bottom, #ff6f21 , #ff9b21);
    padding: 120px 15px;
    transition: transform 0.6s ease-in-out;
    transform: translate3d(100%, 0,0);
    &.open{
        transform: translate3d(0, 0,0);
    }
    .nav-introduce{
        padding-bottom:20px;
        a{
             color:#fff;
             &:hover, &:focus{
                text-decoration: none;
             }
             p{
                padding: 0 10px;
                font-size:14px;
                margin: 0;
                font-weight:400;
                &:first-child{
                    font-size:25px;
                }
             }
        }
    }
}
body, html{
    position:relative;
    width: 100vw;
    overflow-x: hidden;
    &.open{
        height:100vh;
        overflow: hidden;
    }
}