@import './Varibles';
.wf-parents {
    position: relative;
    margin: 0 auto;
}

.brand-stemplan {
    position: relative;
    overflow: hidden;
    height: 450px;
    @media (max-width: $breakpoint-xs-max) {
        height: 260px;
    }
    & > img {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 100%;
        transform: translate(-50%, -50%);
        @media(min-width: 1440px) {
            width: 100%;
            height: auto;
        }
    }
    .brand-stemplan-title {
        position: absolute;
        z-index: 97;
        top: 50%;
        left: 50%;
        max-width: 50%;
        @media (max-width: $breakpoint-xs-max) {
            max-width: 25%;
        }
        transform: translate(-50%, -50%);
        img {
            width: 100%;
        }
    }
}

.brands-titlebar {
    line-height: 90px;
    @media (max-width: $breakpoint-xs-max) {
        line-height: 45px;
    }
    border-bottom: 1px solid #E0E0E0;
    background-color: #FFFFFF;
    .brands-items {
        position: relative;
        margin: 0;
        padding: 0;
        text-align: center;
        .brands-items-search {
            position: absolute;
            right: 15px;
            top: 50%;
            width: 30px;
            height: 30px;
            transform: translateY(-50%);
            line-height: 0;
            @media (max-width: $breakpoint-xs-max) {
                width: 16px;
                height: 16px;
                right: 15px;
                opacity: 0.8;
            }
            img {
                width: 100%;
            }
        }
        li {
            font-size: 14px;
            display: inline-block;
            padding: 0 30px;
            list-style: none;
            cursor: pointer;
            color: #929292;
            &.active {
                color: #FFA221;
                border-bottom: 2px solid #FE112D;
            }
            @media (max-width:$breakpoint-xs-max) {
                padding: 0 13px;
                font-size: 12px;
            }
        }
    }
}

.brands-itemsContainer {
    @media (max-width: $breakpoint-xs-max) {
        padding: 0;
    }
}

.brands-waterfall-informations {
    background-color: #FBFBFB;
    min-height: 100vh;
    padding-top: 30px;
    padding-bottom: 200px;
    @media(max-width: $breakpoint-phone-max) {
        min-height: 50vh;
    }
}

.brands-waterfall {
    .waterfall {
        position: relative;
        &.open {
            display: block;
        }
    }
    .waterfall-items {
        float: left;
        margin: 10px 0;
        padding: 0 10px;
        .waterfall-bg {
            background-color: #FFFFFF;
            padding-bottom: 20px;
            transition: box-shadow 0.5s;
            &:hover {
                box-shadow: 0 4px 12px rgba(198, 91, 0, 0.3);
            }
        }
        @media(max-width: $breakpoint-xs-max) {}
        @media(max-width: $breakpoint-phone-max) {
            padding: 0px 3px;
        }
    }
    .waterfall-items-year {
        font-size: 14px;
        font-weight: 200;
        padding: 18px 12px;
        span {
            color: #FFA221;
            font-weight: 400;
            margin-left: 5px;
        }
        @media(max-width: $breakpoint-phone-max) {
            font-size: 10px;
            padding: 10px 3px;
        }
    }
    .waterfall-items-images {
        img {
            width: 100%;
        }
    }
    .waterfall-items-information {
        font-size: 18px;
        padding: 0px 12px;
        @media(max-width: $breakpoint-phone-max) {
            font-size: 12px;
            padding: 0 3px;
        }
    }
}

.waterfall-popup {
    overflow: hidden
}

.waterfall-popup .carousel-inner {
    overflow: initial
}

.waterfall-popup .water-listen {
    background-color: #fff;
    float: left;
    transition: transform .2s
}

.waterfall-popup .water-listen>div {
    padding: 0
}

.waterfall-popup .water-listen>div:first-child div.water-bl {
    height: 0;
    overflow: hidden;
    padding-bottom: 80%
}

.waterfall-popup .water-listen>div:nth-child(2) div.water-bl-2 {
    height: 0;
    overflow: hidden;
    padding-bottom: 40%
}

.waterfall-popup img {
    width: 100%
}

.waterfaill-introction {
    padding: 50px 75px;
    background-color: #fff;
}

@media(max-width:480px) {
    .waterfaill-introction {
        margin-left: 0;
        margin-top: 0;
        padding: 0
    }
}

.waterfaill-introction h2 {
    font-size: 30px
}

@media(max-width:480px) {
    .waterfaill-introction h2 {
        font-size: 16px
    }
}

.waterfaill-introction p.waterfaill-title {
    color: #000
}

@media(max-width:480px) {
    .waterfaill-introction p.waterfaill-title {
        font-size: 12px
    }
}

.waterfaill-introction span {
    color: #ffa221;
    font-weight: 600;
    font-size: 14px;
    margin-left: 15px;
}

.waterfaill-introction p {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 2;
    color: #333
}

.waterfall-arrow {
    position: absolute;
    top: 0;
    right: -60px;
    opacity: 0;
    display: flex;
    flex-flow: column;
    transition: opacity 0.5s;
    @media(max-width: $breakpoint-phone-max) {
        flex-flow: row-reverse;
        top: 150px;
        right: 3%
    }
    &.news {
        @media(max-width: $breakpoint-phone-max) {
            flex-flow: row-reverse;
            top: 125px;
            right: 3%
        }
    }
    &.opens {
        opacity: 1;
    }
}

.waterfall-arrow button {
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    position: relative;
    padding: 0;
    img {
        width: 100%;
    }
}

@media(max-width:480px) {
    .waterfall-arrow button {
        box-shadow: 0 0 5px rgba(0, 0, 0, .07);
        width: 30px;
        height: 30px
    }
}

.waterfall-arrow button:first-child {
    margin-bottom: 20px
}

@media(max-width:480px) {
    .waterfall-arrow button:first-child {
        margin-left: 15px;
        margin-bottom: 0
    }
}

.waterfall-arrow button img._hover {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0
}

@media(min-width:480px) {
    .waterfall-arrow button:hover ._hover {
        opacity: 1
    }
}

.waterfall-arrow {
    .waterShows {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        opacity: 0;
        z-index: 99;
        &.shows {
            opacity: 1;
        }
    }
}

.shopofshops_logo,
.shopofshops_topImage,
.shopofshops_botImage,
{
    padding: 0;
}

.shopofshops_tl {
    position: relative;
}

.shopofshops_logo {
    position: static;
    img {
        position: absolute;
        width: 33.3333%;
        top: 50%;
        transform: translateY(-50%);
    }
}

.shopofshops_topImage {
    overflow: hidden;
}

.carousel-inner {
    .item {
        overflow: hidden;
    }
}

.shopofShopBg {
    position: relative;
    transform: translateX(-100%);
    transition: transform 0.5s;
    overflow: hidden;
    &:after {
        position: absolute;
        content: '';
        display: block;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: #FF520E;
        transition: transform 0.35s 0.5s;
    }
}

.active {
    .shopofShopBg {
        transform: translateX(0%);
        &:after {
            transform: translateX(100%);
        }
    }
}
